#profs .prof{
    padding: 20px;
    background: #ddd;
    width: 600px;
    min-height:270px;
    margin-bottom: 20px;
}

#profs .prof a{
    color: #000;
    text-decoration: none;
}

#profs .prof h3{
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    
}

#profs .prof img{
    height:200px;
    clip-path: circle(100px at 100px 100px);
    float: left;
}

#profs .prof .details{
    width: 300px;
    line-height: 1.7em;
    display:inline-block;
}

#profInfoBox{
    width:200px;
    padding: 15px;
    background: #ddd;
    float:left;
    margin-top: 15px;
    margin-right: 15px;
}

#profInfoBox img{
    height:200px;
    clip-path: circle(100px at 100px 100px);
    margin-bottom: 10px;
}
