/*
 * ThemeName: JbTheme
 *ThemeURI: http://example.de
 * Description: Einfach nur ein test
 * Author: Jakob Braun 
 * AuthorURI: http://example.de
 */ 

.menu li{
    display: block;
    float:left;
    color: #000;
    border: 1px solid #999;
    margin:0;
    margin-left: -1px;
    background: rgb(0, 70, 160);
}

.menu .current-menu-item{
    background:#fff;
}

.menu li a{
    display:inline-block;
    padding: 6px 15px;
}

.menu li:hover{
   background: rgb(0, 100, 190);
}

.menu li.current-menu-item:hover{
   background: #eee;
}



.menu a:link, .menu a:visited{
 color: #fff;   
}

.menu .current-menu-item a:link, .menu .current-menu-item a:visited{
    color: #000;
}

#main{
  height: auto; 
  min-height: 90%;
}

#footerBox{
    width: 100%;
    background: rgb(0, 70, 160);
    min-height:200px;
    color: #fff;
    margin:0;
}

#footerBox .infos{
    margin-top:20px;
}

html,body{
    height: 100%;
}
