/* CSS Document */
/*************************/

/*Webkits für verschiedene Browser*/
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Default als Startwerte ausklammern sonst für das Theme redundant*/
/*
*
{
	padding:0px;
	margin:0px;
}
body { 
	font-family: serif;
	 
 }
 */

.cardscene {
  width: 500px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 5% 3%;
  
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  
  -moz-box-shadow: 0 0 30px 5px #999;
  -webkit-box-shadow: 0 0 30px 5px #999;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.42em;
  backface-visibility: hidden;
  letter-spacing: 1px;
  line-height: 2.0em;

}

.card__face--front {
  background: white;
  color: darkblue;
  height: 250px;
}

.card__face--back {
  background: white;
  color: blue;
  transform: rotateY(180deg);
  font-size: 0.9em;
}
.p_Front {
	
	padding: 20px 0%;
	height: 239px ;
	/*border: 1px solid darkblue;*/
}
.p_Back {
	
	padding: 20px 0%;
	height: 239px ;
	/*border: 1px solid lightblue;*/
}
#profile_pic {
	padding: 7px 3.5px;
	float:left;
	background-color: darkblue;
	height: 200px;
	width: 155px;
	margin: 2px 10px;
}
#profile_pic_text {
	font-size: 80%;
	padding: 10px 8px;
	
}
p strong {
	font-size:1.45em;
}
#profile_picandtext_container h4 {
	line-height: 14px; 
}
.sectionCard
{ 
	/*padding: 2% 15% 2% 25%;*/
	margin: 2% 25%;
	/*padding: 1% 0%; */
	min-width: 550px;
	max-width: 550px;
}