/* CSS Document */
/*************************/

/*Webkits für verschiedene Browser*/
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Default als Startwerte*/
/*
*
{
	padding:0px;
	margin:0px;
    box-sizing: border-box; 
}
body { font-family: fantasy; }
*/

.scene {	
  width: 200px;
  height: 200px;
  /*border: 1px solid #CCC;*/
  margin: 2% 39%;
  perspective: 400px;
  display: grid;
  text-align: center;
   grid-template-columns: repeat(1, auto);
    
  
}

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
   
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 10pt;
  font-family: fantasy;
  font-weight: bold;
  color: red;
  text-shadow:  0 1px 5px yellow;
  text-align: center;
  /*background:url('th_logo.jpg');*/
  /*content:url('th_logo.jpg');
  opacity: 0.85;*/
  
}
/*
.cube_face {
	background-image:url('th_logo.jpg');
	content:url('th_logo.jpg');
}
*/

.cube__face--front  { background-image: url('../pictures/th_logo_mittel.jpg'); opacity: 1; } /* hsla(  0, 100%, 50%, 0.7); } */
.cube__face--right  { background: url('../pictures/in_th_logo_mittel.png'); opacity: 1; } /* hsla( 60, 100%, 50%, 0.7); } */
.cube__face--back   { background: url('../pictures/bwl_th_logo_mittel.png'); opacity: 1; } /* hsla(120, 100%, 50%, 0.7); } */
.cube__face--left   { background: url('../pictures/szwl_th_logo_mittel.png'); opacity: 1; } /* hsla(180, 100%, 50%, 0.7); } */
.cube__face--top    { background: url('../pictures/vft_th_logo_mittel.png'); opacity: 1; } /* hsla(240, 100%, 50%, 0.7); } */
.cube__face--bottom { background: url('../pictures/th_logo_2_mittel.jpg'); opacity: 1; } /* hsla(300, 100%, 50%, 0.7); } */

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }

/*RadioButtons*/
.radio-group 
{
	border: 0px black solid ;
	width: 100%;
	max-width: inherit;
	padding: 1%;
	text-align: center;
}

/*Sektion und Allgemeines*/
h2 , h3 { 
	text-align: center; 
	
}

.sectionCube
{ 
	/*padding: 2% 15% 2% 25%;*/
	margin: 2%;
	/*padding: 1% 0%; */
	min-width: 610px;
	/*max-width: 400px;*/	
	background-color: #c4dafc;
}