body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"roboto",sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
}

.container > header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 20px 0 20px;
}

.container > header > nav#menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: 5px;
}

.container > main {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: 1px solid grey;
    border-radius: 4px 4px 4px 4px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    position: relative;
}


.container > aside {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0 20px 0 20px;
    margin: 0 20px 20px 20px;
    border: 1px solid grey;
    border-radius: 4px 4px 4px 4px;
    position: relative;
}

.container > footer {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    position: relative;
    margin: 0 20px 20px 20px;
}

.underline {
    border-bottom: 2px solid black;
}

.dotted-line {
    margin-top: 10px;
    border-bottom: 1px dotted black;
}

article {
    margin: 20px;
}

p {
    margin: 0;
}

footer {
    color: white;
}

#navigation-footer {
    float: right;
}

#navigation-footer a {
    color: white;
}

.padder {
    padding-bottom: 20px;
}

/* for links - begin */

a {
    transition: .3s;
    text-decoration: none;
}

a:hover {
    background-color: #b5bde9;
    transition: .3s;
    font-weight: bold;
}

/* for links - end */

/* navigation bar - begin */

/* menu bar */
#menu {
    z-index: 100;
    padding-top: 4px;
    height: 30px;
    position: relative;
    top: 75px;
}

#menu-footer {
    position: relative;
    bottom: 5px;
}

/* the buttons/links of the menu */
#menu-content ul, #menu-footer ul {
    margin: 0;
    padding: 0;
}

#menu-footer li {
    display: inline;
    float: right;
    position: relative;
}

#menu-content li {
    display: block;
    float: left;
    position: relative;
}

/* links of menu top-level */
#menu-content li a {
    display: block;
}

#menu-footer li a {
    display: inline;
}

#menu-content li a, #menu-footer li a {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
}

/*
    links of menu, mark just current element (even in hierarchy)
*/
#menu-content .current-menu-item, #menu-content .current-page-ancestor a {
    text-decoration: underline;
}

/* top level menu */
#menu-content a:hover, #menu-footer a:hover {
    color: #0046A0;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
}

#menu-content a:hover::after, #menu-footer a:hover::after {
    opacity: 0;
}

/* sub menus box */
#menu-content ul ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    border: 1px solid #d9e0e9;
    border-top: none;
}

/* all sub menu box */
#menu-content ul ul li {
    min-width: 200px;
}

/* sub menu links */
#menu-content ul ul li a {
    color: #0046A0;
}

/* hover for sub menu links */
#menu-content ul ul li a:hover {
    text-decoration: underline;
    border-radius: 0 0 0 0;
}

/* sub menu of a sub menu */
#menu-content ul li:hover > ul {
    display: block;
}

/* style for all boxes of the sub menus */
#menu-content ul ul li ul {
    top: 0;
    left: 200px;
}

/* navigation bar - end */

.article-title::before {
    content: '\27a4';
}

.article-title {
    background-color: #d9e0e9;
    border-radius: 5%;
}

.type-post, .type-page {
    background-color: #F7F8FA;
}


.address {
    position: relative;
    top: 15px;
    left: 50px;
}

.search-wrapper {
    display: none;
}

h2 {
    margin: 5px 0 0 0;
}

.widget-content {
    position: relative;
    margin-left: 10%;

}

.widget-title {
    background-color: #d9e0e9;
    border-radius: 5%;
    color: #0046A0;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#logo-link:hover {
    background-color: transparent;
}

#go-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    transition: .3s;
    opacity: 0.5;
}

#go-to-top:hover {
    background-color: #ff6c00;
    transition: .3s;
    opacity: 1;
}

article > p {
    padding: 10px 0 10px 0;
}