/* grid box - begin */

.container {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 300px; /* Left Right */
    grid-template-rows: 160px auto 120px; /* Header Main Footer */
    min-height: 95%;
}

.container > header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.container > main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid grey;
    border-radius: 4px 4px 4px 4px;
    padding: 20px;
    margin: 0 20px 0 20px;
    position: relative;
    top: 30px;
}

.container > header > nav#menu {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
    top: 80px;
}

.container > aside {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0 20px 0 20px;
    margin: 0 20px 0 0;
    border: 1px solid grey;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    top: 30px;
}

.container > footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    position: relative;
    top: 50px;
}

/* grid box - end */

#header {
    position: relative;
}

/* for links - begin */

a {
    transition: .3s;
    text-decoration: none;
}

a:hover {
    background-color: #b5bde9;
    transition: .3s;
    font-weight: bold;
}

/* for links - end */

/* navigation bar - begin */


/* this set the position of the menu */
#menu-bar-wrapper {
    margin: auto;
    width: 50%;
}


.type-post, .type-page {
    padding: 20px;
}

.wrapper {
    min-height: 110px;
    margin: auto;
    width: 100%;
    display: inline;
    position: relative;
}

.logo {
    padding: 300px 60px 0 200px;
    position: relative;
    top: 30px;
}

.blog-name {
    position: relative;
    top: 20px;
}

.blog-description {
    position: relative;
    top: 20px;
}

.search-wrapper {
    display: inline;
    position: absolute;
    right: -350px;
}
