﻿/* CSS Document for the prototype_theme_th */
/*************************/

/*Webkits für verschiedene Browser*/
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Default als Startwerte*/
*
{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

/* Special Queries */
@media (max-width: 480px) {
	
	body
	{
		font-size: 0.8em;
		font-family: sans-serif;
		height: 100%;
	}
	header img
	{
		max-width: 100px;
		
		
	}
	header
	{
		font-size: 0.55em;
	}
		
}
	
}

/*Sehr kleine Geräte und größer*/
@media (min-width: 481px) {


body
	{
		font-size: 0.75em;
	}
	img
	{
		max-width: 200px;
	}
	
section{
	border: solid 10px darkblue;
	/*Curved Style*/
	moz-border-radius: 4px 3px 6px / 2px 4px;
    border-radius: 4px 3px 6px / 2px 4px;'
}
article{
		
}
p{
		margin: 0px;
		padding: 0px;
		border: solid lightgray 1px;
	}

.sidenav {
	margin: 100px 130px 0 0;
}


}
@media (min-width: 1080px) {


body
	{
		font-size: 0.88em;
	}
	img
	{	
		max-width: 300px;
		
	}
}


/*--------- STYLE.CSS -----*/
html 
{
	background-color: white;
	color: black;
    font-family: "Arial", sans;
    font-size: 0.9em;
    
}
head{}
body 
{
	padding: 5px;
	margin: 5px;
	background-color: white;
	color: black;
}
 
main
{
	padding: 5px;
	
	margin: 5px;

	
}

p
{
	padding: 5px;
	margin: 5px;

}
section {
	
}


h2,h3,h4,h5,h6 {
    font-family: "Arial", sans;
    letter-spacing: 1px;
	padding: 3px;
	margin: 3px;
}
h1 {
	text-align: center;
	margin: 2px;
	
}


/*The_Content(): GRID-Darstellung --> 3x*/ 
*{
	box-sizing: border-box;
}
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  max-width: 100%;
  grid-gap: 5px;
  background-color: inherit;
  color: #444;
  padding: 3px;
  border: solid 10px darkblue;
  margin: 0 0 0 130px;
	/*Curved Style*/
	/*moz-border-radius: 4px 3px 6px / 2px 4px;
    border-radius: 4px 3px 6px / 2px 4px;'*/
}

.gridBox {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  max-height: 100%;
  text-align: center;
  margin: 10px;
  padding: 2px;
  border: solid #3883f4 5px;
  box-shadow: 0 0 5px black;
}
.gridBox:hover{
	box-shadow: 0 0 20px #3883f4;
	border: solid 4px darkblue;
	background-color: 
}
#articleContent {
	
}
#p_meta {
	position: relative;
	bottom: 5px;
	padding: 2px;
	width: inherit;
	font-size: 0.5em;
	background-color: white;
	color: red;
	
}
/*Wordpress Content verkleinern laut Codex*/
	
	.size-auto, 
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		
	height: 33px;
	}


/* img, media, stuff */
img 
{
	
}

iframe
{
	
}

/* Links */
above
{
	
}

/* Sosntiges */
address {
}

/* Tabellen */
table{
}	

/*h2,h3, ... */



/*HEADER/Navigation/FOOTER*/
header
{
	background-color: inherit;
	color: darkblue;
	margin: 5px 10px;
	padding: 10px 15px;
	
}
header img 
{
	width: 100%;
	top: 50px;
	left: 10px;
	
	margin: 0 5px;
}

/* Navigation oben */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
	color: black;
	border: 1px solid darkblue;
}
 nav li a:active {
    background-color: darkblue;
    }

/* Links  */

a {
    text-decoration: none;
    /*color: #6D0839;*/
} 

/* Footer */
footer {
	min-width: 1000px;
}	

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
	
}

footer li {
    float: right;
	
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer li a:hover {
    background-color: black;
	border: 1px solid white;
	color: white;
}

footer li a:active {
    background-color: lightblue;
    }

	
	/* The sidebar menu */
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  /*top: 180px;*/
  left: 10px;
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
  margin: 10px 130px 10px 0px;
}

.sidenav a {
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

.sidenav a:hover {
   background-color: black;
	border: 1px solid white;
	color: white;
}
.sidenav a:active {
    background-color: lightblue;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}